<!doctype html>
<html>
  <head><meta charset="utf-8"><title>XSS Demo - Vulnerable</title></head>
  <body>
    <h1>Vulnerable Page</h1>
    <p>Message from query string:</p>
    <!-- Vulnerable: unescaped output inserted into HTML -->
    <div id="message"><%- userInput %></div>
    <p>Use ?msg=your_text to set the message</p>
  </body>
</html>

